.progress {
  margin: 20px 0 0 0;
 /* width: 300px;*/
  border: 1px solid #ddd;
  padding: 5px;
  border-radius: 5px;
	height: 32px !important;
}

.progress-bar {
  width: 0%;
  height: 20px;
  background-color: #4CAF50;
}